.pcOnly {
    display: none !important;
}

@mixin clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}

.sp_none {
    display: none !important;
}

body {
    font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', Meiryo UI, sans-serif;
}

.ttlSet {
    position: relative;
    min-height: 43px;
    word-break: break-all;
    height: auto !important;
    height: 43px;
    border-top: #abff99 solid 2px;
    margin: 10px 0 12px 0;
    .ico-book {
        background: url(/test/pre_bookrenewal/img/common/icon_book_grey.png) left center no-repeat;
        background-size: 20px 15px;
        padding-left: 25px;
    }
    .line-book {
        padding-left: 10px;
        border-left: #abff99 solid 4px;
        display: inline-block;
    }
    >h2 {
        //width: 86%;
        margin: auto;
        font-size: 12.5px;
        padding: 9px 0 0 0;
        text-shadow: none !important;
        color: #333333 !important;
        margin-left: 10px;
        height: 43px;
        overflow: hidden;
        .text_ttl {
            font-size: 16px;
        }
        .text_unit {
            padding-left: 8px;
            font-size: 16px;
        }
    }
    .ico-bookshelf {
        background: url(/test/pre_bookrenewal/img/common/ico_bookshelf_pc.png) left 34% no-repeat;
        background-size: 14px;
        padding-left: 20px;
        .text_ttl {
            font-size: 12px;
        }
        .text_unit {
            padding-left: 8px;
            font-size: 12px;
        }
    }
}
.ttl_bookshelf{
    margin-bottom: 0;
}
.ttlSet .ttlExNav {
    position: absolute;
    right: 10px;
    top: 13px;
    *zoom: 1;
}

.ttlSet .ttlExNav:after {
    content: '';
    display: block;
    clear: both;
}

.ttlSet .ttlExNav dt,
.ttlSet .ttlExNav dd {
    float: left;
}

.ttlSet .ttlExNav dt {
    font-weight: bold;
}

.ttl_search_book>span {
    font-size: 16px;
}