.freeHtmlArea_bookseriese {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    >h2 {
        position: absolute;
        top: 50px;
        right: 50px;
    }
    >img {
        width: 100%;
    }
}